@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        color-scheme: light;
        /* brand foundation */
        --brand-hue: 180;
        --brand-saturation: 89%;
        --brand-lightness: 10%;

        --brand: hsl(var(--brand-hue) var(--brand-saturation) var(--brand-lightness));

        --text1: hsl(var(--brand-hue) calc(var(--brand-saturation) / 5) 97%);
        --text2: hsl(var(--brand-hue) calc(var(--brand-saturation) / 10) 90%);

        --link: hsl(var(--brand-hue) var(--brand-saturation) 89%);

        --surface1: hsl(var(--brand-hue) 1% 4%);
        --surface2: hsl(var(--brand-hue) 50% 12%);
        --surface3: hsl(var(--brand-hue) 50% 16%);
        --surface4: hsl(var(--brand-hue) 50% 19%);
    }


    html, body {
        /* background-color: hsl(35deg 69% 90%); */
        @apply bg-surface1 text-text1;
    }
  }